/* **************** GENERAL ******************* */

* {
	outline: none;
}

.wrap {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;

}

.off-canvas.is-open {
	background-color: #222;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Didact Gothic', sans-serif;
}

.badge {
	font-size: 0.5em;
}

/* **************** HERO ******************* */
.hero {
	background-color: #23367f; 
	padding: 50px 60px 40px 30px;
	height: 325px;
	
}

.hero h1, .hero p {
	color: rgba(0,0,0, 0.9);
	max-width: 75 %;
	font-size: 5em;
}

/* **************** MAIN ******************* */
.main {
	padding: 80px 0px;
	font-family: 'Roboto', sans-serif;
}

.chibi {
	max-width: 300px;
}

.want {
	background-color: #a4afe7; 
	padding: 50px 40px 30px 40px;
	display: block;
	margin: 0 auto;
}

/* **************** PART2 ******************* */

.part2 {
	padding: 10px 0px;
	margin-bottom: 3em;
}

.werk {
	margin-bottom: 3em;
}

/* **************** MANGLE ******************* */

.mangle {
	background-color: #20dada;
	display: block;
	padding: 2% 0% 1.6% 15%;
	margin: 0 auto;
}

/* **************** MEH ******************* */

.meh {
	padding: 2% 0% 2% 0%;
	margin: 0 auto;
}

/* **************** FOOTER ******************* */

footer {
	background-color: #f4f8fd;
	padding: 80px 0px; 
	height: 300px;
	font-family: 'Roboto', sans-serif;
}

footer a {
	color: rgba(35,54,127,0.6);
}

footer h4 {
	color: rgba(35,54,127, 0.8);
	font-size: 1.2em;
}

footer a:hover {
	color: rgba(35,54,127,0.8);
}

footer hr {
	border-color: rgba(0,0,0, 0.1);
	margin:10px 0;
}

footer a span {
	font-weight: bold;
	color: rgba(35,54,127,0.3);
}

.contact {
	text-align: center;
}

.sm {
	padding: 0em 0.5em 0em 0.5em;
}

.obnoxious {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
	color: #23367f;
	font-weight: 500;
}

/* **************** MEDIA QUERY ******************* */

@media (max-width: 639px) {
	
	.nav-desktop {
		display: none;
	}
}

@media (max-width: 875px) {
	.hero h1,
	.hero p {
		width:100%;
	}
}

@media screen and (max-width: 39.9375em) {
	.hero h1 {
		font-size: 3em;
	}

	.mangle responsive-embed {
		padding: 0;
		margin: 0;
	}
}

@media screen and (min-width: 64em) {
	.meh .obnoxious {
		font-size: 2.5em;
	}
}
